VITE_SUPABASE_URL=https://bjkggeroikpblnfoylhk.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_1UjhEQ3exKkLPT6cfMHfOQ_0Pz8qUhc
VITE_ADMIN_EMAIL=munira404+saamsadmin@gmail.com
VITE_USER_EMAIL_DOMAIN=saams.app
